.Red {
   color: #EF9A9A
}

.Pink {
   color: #F48FB1
}

.Purple {
   color: #CE93D8
}

.DeepPurple {
   color: #B39DDB
}

.Indigo {
   color: #9FA8DA
}

.Blue {
   color: #90CAF9
}

.LightBlue {
   color: #81D4FA
}

.Cyan {
   color: #80DEEA
}

.Teal {
   color: #80CBC4
}

.Green {
   color: #A5D6A7
}

.LightGreen {
   color: #C5E1A5
}

.Lime {
   color: #E6EE9C
}

.Yellow {
   color: #FFF59D
}

.Amber {
   color: #FFE082
}

.Orange {
   color: #FFCC80
}

.DeepOrange {
   color: #FFAB91
}

.Brown {
   color: #BCAAA4
}

.Gray {
   color: #EEEEEE
}
