.Red {
   color: #C62828
}

.Pink {
   color: #AD1457
}

.Purple {
   color: #6A1B9A
}

.DeepPurple {
   color: #4527A0
}

.Indigo {
   color: #283593
}

.Blue {
   color: #156500
}

.LightBlue {
   color: #0277BD
}

.Cyan {
   color: #00838F
}

.Teal {
   color: #00695C
}

.Green {
   color: #2E7D32
}

.LightGreen {
   color: #558B2F
}

.Lime {
   color: #9E9D24
}

.Yellow {
   color: #F9A825
}

.Amber {
   color: #FF8F00
}

.Orange {
   color: #EF6C00
}

.DeepOrange {
   color: #D84315
}

.Brown {
   color: #4E342E
}

.Gray {
   color: #424242
}
