.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: #f5c6cb;
}

.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: #ffeeba;
}

.table-success,
.table-success > th,
.table-success > td {
    background-color: #c3e6cb;
}
