/* custom.css */
button,
input,
select,
textarea {
    font-family: inherit;
}

textarea {
    display: block;
    width: 100%;
    height: auto;
    resize: vertical;
}

body {
    margin: 8px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.hidden, [hidden] {
    display: none;
}
